.eventForm{
}

.Desktop{
    display: block;
    margin-top: 15%;
    margin-left: 55%;
}

.Mobile{
    display: none;
}

@media (max-width: 823px) {
    .Desktop{
        display: none;
    }

    .Mobile{
        display: block;
        margin-top: 50%;
        margin-left: 10%;
    }
}