.eventForm{

}

.Desktop{
    display: block;
    margin-top: 15%;
    margin-left: 55%;
}

.Mobile{
    display: none;
}

@media (max-width: 823px) {
    .Desktop{
        display: none;
    }

    .Mobile{
        display: block;
        margin-top: 70%;
        margin-left: 3%;

    }
    .submit-button{

    }
}

input{
    border: 0 solid transparent;
    padding: 4%;
    border-radius: 4px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

option{
    background-color: white;
}

td{
    padding: 0.5%;
}

::placeholder{
    color: #c7c7c7;
}

table{
    border-spacing: 7px 30px;
}

button.submit-button{
    margin-left: 35%;
}

.submit-button{
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    text-transform: uppercase;
    padding: 3%;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #83F14B;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

